.divArticleLoguear{
    width: 100%;
    height: 800px;
    transition: all 300ms;
    float: left;
}
.divTitulos{
    width: 98%;
    margin-left: 1%;
    height: 50px;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
}
.divTitulos h2{
    text-align: center;
    margin: 0.5em;
}
.divContenedorLoguin{
    width: 100%;
    height: 735px;
    /* background-image: url('../imagenes/fondoDos.jpg'); */
    margin-top: 1em;
    float: left;
}
.divContenedorLoguear{
    width: 80%;
    margin-left: 10%;
    margin-top: 4em;
    border-radius: 10px;
    box-shadow: 7px 7px 3px grey; 
    border: 1px solid #B4B4B4;  
    height: 600px;
    background: white;
    float: left;
}
.divLoginRegistro{
    width: 100%;
    height: 100px;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    float: left;
}
.divLoginRegistro h3{
    text-align: center;
    margin-top: 0.5em;
}
.divLoginRegistro input[type='button']{
    width: 20%;
    height: 30px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    border-radius: 5px;
    border: none;
    /* box-shadow: 3px 3px 3px black; */
    background: #579EEB;
    margin-left: 20%;
    margin-top: 0.5em;
}
.divLoginRegistro input[type='button']:hover{
    background: #ADD1EE;
}
