.articleInicio{
    width: 75%;
    height: 800px;
    /* background: white; */
    overflow: hidden;
    float: left;
}
.divTitulo{
    width: 98%;
    margin-left: 1%;
    height: 50px;
    background: white;
    float: left;
}
.divTitulo h2{
    text-align: center;
    margin: 0.5em;
}
.divContenedor2{
    width: 100%;
    height: 730px;  
    margin-top: 1em;
    overflow-y: scroll;
    float: left;
}
.divFotosUsuarios{
    width: 28%;
    height: 300px;
    float: left;
    margin: 5px;
    margin-top: 5px;
    margin-left: 3.5%;
    border-radius: 5px;
    /* background: #CDD5DC; */
    background: white;
    transition: all 300ms;
    cursor: pointer;
    box-shadow: 7px 7px 3px black;
}
.divFotosUsuarios:hover{
    transform: scale(1.04 ,1.04);
}
.divImangenes{
    width: 90%;
    height: 150px;
    margin-left: 5%;
    margin-top: 10px;
    background: white;
    margin-bottom: 1em;
    float: left;
}
.divImangenes img{    
    width: 100%;
    height: 101%;
}
.divParrafo{
    width: 94%;
    margin-left: 3%;
    height: 120px;
    overflow-y: scroll;
    float: left;
}
.parrafos{
    text-align:center;
    font-size: 20px;
    color:#245281;    
}