.divAside{
    width: 0%;
    margin-right: 1%;
    height: 0px;
    /* position: absolute; */
    transition: all 300ms;
    overflow: hidden;
    float: right;
}
.divTituloAside{
    width: 100%;    
    height: 50px;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
}
.divTituloAside h2{
   text-align: center;
   margin: 0.5em;
}
.divBuscador{
    width: 100%;
    height: 50px;
    margin-top: 1em;
    transition: all 300ms;
    background-color: #FBFBFB;
    float: left;
}
.divBuscador input{
    margin-top: 10px;
}
.divCajitaBuscador{
    width: 96%;
    margin-left: 2%;
    height: 350px;
    border-radius: 5px;
    transition: all 300ms;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
    margin-top: 0.5em;
    float: left;
}
.bTextoBuscador{
    width: 60%;
    margin-left: 5%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;   
}
.bBuscador{
    width: 25%;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 2%;
    background: #579EEB;
    border: none;
    color: white;
    transition: all 300ms;
}
.bBuscador:hover{
    background: #ADD1EE;
}
.divContenedorBuscador{
    width: 100%;
    height: 670px;
    background: #FBFBFB;
    float: left;
    overflow-y: scroll;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
}
.divBuscado{
    width: 96%;
    height: 300px;
    margin-left: 2%;
    margin-top: 5px;
    border-radius: 5px;
    color: black;
    background: #FBFBFB;
    float: left;
}
.divBuscadorFoto{
    width: 90%;
    height: 190px;
    margin-left: 5%;
    margin-top: 10px;
}
.divBuscadorFoto img{
    width: 100%;
    height: 190px;
}
.divBuscadorDatos{
    width: 90%;
    height: 90px;
    margin-left: 5%;
    margin-top: 10px;
}