.articleIngresar{
    width: 75%;
    height: 800px;
    float: left;
}
.divTitulo{
    width: 98%;
    margin-left: 1%;
    height: 50px;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
}
.divTitulo h2{
   text-align: center;
   margin: 0.5em;
}
.divContenedor{
    width: 100%;
    height: 735px;  
    /* background-image: url('../imagenes/fondoDos.jpg'); */
    margin-top: 1em;
    float: left;
}
.divContenedorBotones{
    width: 50%;
    height: 400px;
    margin-left: 25%;
    margin-top: 3em;
    border-radius: 5px;
    background: white;
    border: 1px solid black;
    box-shadow: 7px 7px 3px black;
    float: left;
}
.divContenedorBotones h3{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.btexto{
    width: 70%;
    margin-left: 15%;
    height: 30px;
    border-radius: 5px;
    margin-top: 1em;
}
input[type="file"]{
    margin-left: 15%;
    margin-top: 1em;
}
.botonEnviar{
    width: 70%;
    margin-left: 15%;
    height: 40px;
    border-radius: 5px;
    background: #579EEB;
    color: white;
    margin-top: 1em;
    cursor: pointer;
    transition: all 300ms;
}
.botonEnviar:hover{
    background: #ADD1EE;
}