footer{
    width: 100%;
    height: 100px;
    background: black;
    float: left;
}
.divFooter{
    margin-top: 2em;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 5%;
}
.primerEnlace{
    margin-left:20%;
}