.divContenedorLogin{
    width: 100%;
    height: 490px;
    float: left;
}
.divtituloLogin{
    width: 100%;
    height: 50px;
}
.divtituloLogin h2{
    text-align: center;
}
.divContenedorDatos{
    width: 100%;
    height: 440px;
}
.formLogin{
    width: 80%;
    height: 440px;
    margin-left: 10%;
    /* background: blue; */
}
.inputLogin{
    width: 94%;
    height: 50px;
    margin-left: 3%;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 2.5em;
}
.bSubmitLogin{
    width: 70%;
    height: 50px;
    margin-left: 15%;
    border-radius: 5px;
    background: #579EEB;
    margin-top: 2em;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: all 300ms;
    color: white;
}
.bSubmitLogin:hover{
    background: #ADD1EE;
}