.divContenedorLogin{
    width: 100%;
    height: 490px;
    float: left;
}
.divtituloLogin{
    width: 100%;
    height: 50px;
}
.divtituloLogin h2{
    text-align: center;
}
.divContenedorDatos{
    width: 100%;
    height: 440px;
}
.formLogin{
    width: 80%;
    height: 440px;
    margin-left: 10%;
    /* background: blue; */
}
.inputLogin{
    width: 94%;
    height: 30px;
    margin-left: 3%;
    border-radius: 5px;
    /* box-shadow: 7px 7px 3px black; */
    margin-top: 1.5em;
}
.bSubmitLogin{
    width: 70%;
    height: 40px;
    margin-left: 15%;
    border-radius: 5px;
    background: #579EEB;
    margin-top: 0.5em;
    cursor: pointer;
    /* box-shadow: 7px 7px 3px black; */
    transition: all 300ms;
    color: white;
}
.bSubmitLogin:hover{
    background: #ADD1EE;
}