.divContenedorRegistro{
    width: 100%;
    height: 490px;
    float: left;
}
.divtituloRegistro{
    width: 100%;
    height: 50px;
}
.divtituloRegistro h2{
    text-align: center;
}
.divContenedorDatos{
    width: 100%;
    height: 440px;
}
.formRegistro{
    width: 80%;
    height: 440px;
    margin-left: 10%;
    /* background: blue; */
}
.inputRegistro{
    width: 94%;
    height: 30px;
    margin-left: 3%;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 1.5em;
}
select{
    color: grey;
}
.bSubmit{
    width: 70%;
    height: 50px;
    margin-left: 15%;
    border-radius: 5px;
    background: #579EEB;
    margin-top: 0.5em;
    font-size: 20px;
    cursor: pointer;
    border: none;
    transition: all 300ms;
    color: white;
}
.bSubmit:hover{
    background: #ADD1EE;
}